/* font-family: 'Nunito', sans-serif; */

/*section, div, input {
  border: 1px solid Chocolate;
}*/

.grey-header {
	height: 250px;
	background-color: #C8C8C8;
}

h1, p {
	font-family: 'Nunito', sans-serif; 
}

.header-text {
	max-width: 250px;
	margin: auto;
	font-size: 32px;
	color: #FF3300;
	line-height: 66px;
	padding-top: 10px;
}


.entry-container, .entered-container, .purchased-container {
	max-width: 350px;
	margin: 0 auto;
	padding: 5px 0;
	text-align: center;
}

.entered-item, .purchased-item {
	width: 210px;
	margin: 0 auto;
	border-radius: 8px;
	display: inline-block;
}

/*.entry-box {
	width: 210px;
	margin: 0 auto 0 22px;
	border-radius: 8px;
	display: inline-block;
}*/

/*.entry-box,*/ .entered-item {
	border: 3px solid #FF3300;
}

.purchased-item {
	border: 3px solid #6EEFBC;
}


input {
	font-family: 'Nunito', sans-serif; 
	font-size: 14px;
	font-weight: 300;
	color: #4A4A4A;
	line-height: 19px;
	background-color: #C8C8C8;
	width: 210px;
	margin: 0 auto 0 55px;
	border-radius: 8px;
	float: left;
	border: 3px solid #FF3300;
	padding: 10px;
}

input:focus{
    outline: 0;
}

.entered-item-text {
	font-size: 14px;
	font-weight: 300;
	color: white;
	line-height: 19px;
	list-style: none;
	padding-right: 40px;
}

.purchased-item-text {
	font-size: 14px;
	font-weight: 300;
	color: white;
	line-height: 19px;
	list-style: none;
	padding-right: 40px;
}

.add-icon {
	float: left;
	background-image: url(../img/add.png);
	background-size: 17px 17px;
	width: 17px;
	height: 17px;
	margin-left: 10px;
	margin-top: 14px;
}

.delete-icon {
	display: inline-block;
	background-image: url(../img/delete.png);
	background-size: 17px 17px;
	width: 17px;
	height: 17px;
}

.cart-icon {
	display: inline-block;
	background-image: url(../img/Cart.png);
	background-size: 17px 17px;
	width: 17px;
	height: 17px;
}

.cart-purchased-icon {
	display: inline-block;
	background-image: url(../img/cart-purchased.png);
	background-size: 17px 17px;
	width: 17px;
	height: 17px;
}


.fridge-list {
	background-image: url(../img/fridge-hero.png);
	height: 700px;
	background-repeat: none;
	background-size: cover;
}

.footer-content {
	height: 150px;
	background-color: #231E19;
}

.footer-text {
	max-width: 350px;
	margin: auto;
	padding-top: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	color: #9B9B9B;
	line-height: 16px;
}